<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-table"></i> Resultado
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
                <th>{{ ::vm.Labels.testeId }}</th>
                <th>{{ ::vm.Labels.nome }}</th>
                <th style="width:120px;" class="text-center">Ações</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.FilterResult">
                <td><p bind-custom-value='item.testeId' bind-custom-type=integer /></td>
                <td>{{ ::item.nome }}</td>
                <td>
                  <button ng-click="vm.crud.Edit(item.testeId)" tooltip-placement="top" uib-tooltip="Editar" class="btn btn-xs btn-default">
                      <i class="fa fa-pencil"></i>
                   </button>
                  <button ng-click="vm.crud.Details(item.testeId)" tooltip-placement="top" uib-tooltip="Detalhes" class="btn btn-xs btn-sm">
                      <i class="fa fa-table"></i>
                  </button>
                  <button ng-click="vm.crud.Print(item.testeId)" tooltip-placement="top" uib-tooltip="Imprimir" class="btn btn-xs btn-success">
                      <i class="fa fa-print"></i>
                  </button>
                  <button ng-click="vm.crud.Delete({ testeId : item.testeId })" tooltip-placement="top" uib-tooltip="Excluir" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center">
      <div-pagination />
    </div>
  </div>
</div>